<h1 style="text-align: center;">
  Ottonova Javacript Test
</h1>
<div class="table-responsive container mt-5">
<table class="table table-borderless table-responsive card-1 p-4">
  <thead class="thead-dark">
  <tr class="border-bottom">
    <th *ngFor="let item of tableHeaders">
        {{item}}
    </th>
  </tr>
  </thead>
  <tbody>
    <tr class="border-bottom" *ngFor="let city of cities"> 
      <td>{{city.name}}</td>
      <td>{{city.name_native}}</td>
      <td>{{city.country}}</td>
      <td>{{city.continent}}</td>
      <td>{{city.latitude}}</td>
      <td>{{city.longitude}}</td>
      <td>{{city.population}}</td>
      <td>{{city.founded}}</td>
      <td>{{city.landmarks}}</td>
    </tr>
  </tbody>
  
</table>
</div>